.nav{
    padding-top: 50px;
}

.navWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content{
    display: flex;
    align-items: center;
    gap: 30px;
}

.navList{
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.navListItem a{
    color: white;
    font-weight: 600;
    font-size: 14;
}

.navListItem a:hover{
    color: #BC9060;
}

.cartBtn{
    border: none;
}

.contacts{
    color: white;
    width: 160px;
}

.phoneWrapper{
    display: flex;
    gap: 8px;
    margin-bottom: 2px;
}

.phone{
 font-size: 18px;
 font-weight: bold;
}

.contactsText{
    font-size: 14px;
}

.btnWrapper{
    width: 157px;
}

.line{
    width: 1px;
    height: 51px;
    background-color: #fff;
}